body {
    margin: 0;
    background-color: #f8f9fa;
}

header {
    height: 75px;
    background-image: url(Image/banner.png);
}

footer {
    width: 100%;
    background-color: #ffff;
}

.logo {
    width: 120px;
    height: 40px;
    background-position: -2px -7px;
}

.input {
    height: 0px;
}

.center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.centerForm {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.centerF {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.containerfull {
    width: 100%;
    margin: 0 auto;
}

.nav {
    margin-left: 10px;
    margin-top: -21px;
}

.s2 {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 6px;
}


.col-3 img {
    margin-top: 40px;
    margin-left: 58px;
    height: 168px;
}

.mb20 {
    margin-bottom: 20px;
}

.col-2 .cate-item>img {
    margin-top: 50px;
}

.col-2 a .cate-item-name {
    margin-top: 20px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.border {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f4f4f4;
    width: 95px;
    height: 95px;
    margin: 28px;
    text-decoration: none;
}

.icon-link:hover span {
    color: #32373d;
}

a:hover .img {
    transform: scale(1.03);
}

.col-3:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.aa ul li {
    margin-left: 35px;
    float: left;
    list-style-type: none;
}

.bb {
    margin-left: -16px;
    background-color: #fff;
}

.main {
    margin-top: 280px;
}

.nbar {
    display: flex;
}
.user {
    margin-left: 410px;
}

/* Mặc định */
.nav-link {
    color: black;
    /* Màu chữ mặc định */
    transition: color 0.3s;
    /* Hiệu ứng chuyển đổi màu khi hover */
}

/* Hiệu ứng hover */
.nav-link:hover {
    color: #ff0000;
    /* Màu chữ khi hover */
    font-weight: bold;
    /* Đậm chữ khi hover */
    text-decoration: underline;
    /* Gạch chân khi hover */
    cursor: pointer;
    /* Con trỏ chuột thành bàn tay khi hover */
}

/* Hover effect */
.menu__hover:hover {
    font-weight: bold;
    /* Đậm chữ khi hover */
    text-decoration: underline;
    /* Gạch chân khi hover */
    cursor: pointer;
    /* Con trỏ chuột thành bàn tay khi hover */
}

.subject:hover {
    font-weight: bold;
    /* Đậm chữ khi hover */
    text-decoration: underline;
    /* Gạch chân khi hover */
    cursor: pointer;
    /* Con trỏ chuột thành bàn tay khi hover */
}

.my-list li {
    text-decoration: none;
}



/* mobile: width < 740px*/
@media only screen and (max-width: 46.1875em) {
    body {
        background-color: #fff
    }

    .offcanvas-backdrop {
        width: 100%;
        height: 100%;
    }

    .s1>.col-2 {
        float: left;
        width: calc(25% - 20px);
        background-color: #fff;
        padding-left: 55px;
        margin-top: -10px;
    }

    .modal {
        margin-left: 310px;
    }

    .modal-backdrop {
        width: 100%;
    }

    .s2 {
        position: relative;
        width: 100%;
        min-height: 950px;
        border-radius: 6px;
        background-color: #fff;
    }

    .s2>.col-3 {
        float: left;
        width: calc(50% - 20px);
        margin: 10px;
        background-image: url(Image/bg-product.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    .col-3 img {
        margin: 70px;
        margin-top: 105px;
        margin-left: 142px;
        height: 280px;
    }


    .titel {
        font-size: 35px;
        line-height: 28px;
        font-weight: 500;
        color: #32373d;
        margin-bottom: 5px;
        font-weight: bolder;
        margin-top: 10px;
    }

    .col-2 a .cate-item-name {
        margin-top: 20px;
        font-size: 15px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar {
        margin-top: 53px;
    }

    .aa {
        margin: -5px;
    }

    .bb {
        background-color: #212529;
        margin: 0px;
        margin-bottom: 145px;
    }

    .nbar {
        display: block;
    }

    .mautrang {
        color: rgb(255 255 255 / 93%);
    }

    .main {
        margin-top: 90px;
    }

    .user {
        margin-left: 0;
    }

    .footer__name {
        font-size: 30px;
    }
}

/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    body {
        background-color: #fff
    }

    .offcanvas-backdrop {
        width: 100%;
        height: 100%;
    }


    .modal {
        margin-left: 310px;
    }

    .modal-backdrop {
        width: 100%;
    }

    .nbar {
        display: block;
    }

    .s2 {
        position: relative;
        width: 100%;
        min-height: 950px;
        border-radius: 6px;
        background-color: #fff;
    }



    .s2>.col-3 {
        float: left;
        width: calc(50% - 20px);
        margin: 10px;
        background-image: url(Image/bg-product.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    .col-3 img {
        margin: 70px;
        margin-top: 105px;
        margin-left: 142px;
        height: 280px;
    }

    .titel {
        font-size: 35px;
        line-height: 28px;
        font-weight: 500;
        color: #32373d;
        margin-bottom: 5px;
        font-weight: bolder;
        margin-top: 10px;
    }

    .col-2 a .cate-item-name {
        margin-top: 20px;
        font-size: 15px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .bb {
        background: #212529;
        margin: 0px;
        margin-bottom: 145px;
    }

    .aa {
        margin: -5px;
    }

    .mautrang {
        color: rgb(255 255 255 / 93%);
    }

    .main {
        margin-top: 90px;
    }
    .user {
        margin-left: 0;
    }

    .footer__name {
        font-size: 30px;
    }

}